In [1]:
import pandas as pd
table1=pd.read_csv('/content/daily_sales_data_0.csv')
print(table1.head(10))
table2=pd.read_csv('/content/daily_sales_data_1.csv')
print(table2.head(10))
table3=pd.read_csv('/content/daily_sales_data_2.csv')
print(table3.head(10))

          product  price  quantity        date region
0     pink morsel  $3.00       546  2018-02-06  north
1     pink morsel  $3.00       549  2018-02-06  south
2     pink morsel  $3.00       577  2018-02-06   east
3     pink morsel  $3.00       519  2018-02-06   west
4     gold morsel  $9.99       580  2018-02-06  north
5     gold morsel  $9.99       530  2018-02-06  south
6     gold morsel  $9.99       576  2018-02-06   east
7     gold morsel  $9.99       580  2018-02-06   west
8  magenta morsel  $2.50       522  2018-02-06  north
9  magenta morsel  $2.50       560  2018-02-06  south
          product  price  quantity        date region
0     pink morsel  $3.00       545  2019-06-11  north
1     pink morsel  $3.00       521  2019-06-11  south
2     pink morsel  $3.00       595  2019-06-11   east
3     pink morsel  $3.00       507  2019-06-11   west
4     gold morsel  $9.99       529  2019-06-11  north
5     gold morsel  $9.99       509  2019-06-11  south
6     gold morsel  $9.99       513  2019-06-11   east
7     gold morsel  $9.99       585  2019-06-11   west
8  magenta morsel  $2.50       586  2019-06-11  north
9  magenta morsel  $2.50       561  2019-06-11  south
          product  price  quantity        date region
0     pink morsel  $3.00       526  2020-10-13  north
1     pink morsel  $3.00       546  2020-10-13  south
2     pink morsel  $3.00       505  2020-10-13   east
3     pink morsel  $3.00       561  2020-10-13   west
4     gold morsel  $9.99       553  2020-10-13  north
5     gold morsel  $9.99       513  2020-10-13  south
6     gold morsel  $9.99       575  2020-10-13   east
7     gold morsel  $9.99       599  2020-10-13   west
8  magenta morsel  $2.50       544  2020-10-13  north
9  magenta morsel  $2.50       542  2020-10-13  south

In [2]:
table1['price'] = table1['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)  #replacing $ and , with empty space , and converting to float
table1['totalSale']=(table1['price'])*(table1['quantity'])

table2['price'] = table2['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)
table2['totalSale']=(table2['price'])*(table2['quantity'])

table3['price'] = table3['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)
table3['totalSale']=(table3['price'])*(table3['quantity'])

print(table1.head(10))
print(table2.head(10))
print(table3.head(10))

          product  price  quantity        date region  totalSale
0     pink morsel   3.00       546  2018-02-06  north    1638.00
1     pink morsel   3.00       549  2018-02-06  south    1647.00
2     pink morsel   3.00       577  2018-02-06   east    1731.00
3     pink morsel   3.00       519  2018-02-06   west    1557.00
4     gold morsel   9.99       580  2018-02-06  north    5794.20
5     gold morsel   9.99       530  2018-02-06  south    5294.70
6     gold morsel   9.99       576  2018-02-06   east    5754.24
7     gold morsel   9.99       580  2018-02-06   west    5794.20
8  magenta morsel   2.50       522  2018-02-06  north    1305.00
9  magenta morsel   2.50       560  2018-02-06  south    1400.00
          product  price  quantity        date region  totalSale
0     pink morsel   3.00       545  2019-06-11  north    1635.00
1     pink morsel   3.00       521  2019-06-11  south    1563.00
2     pink morsel   3.00       595  2019-06-11   east    1785.00
3     pink morsel   3.00       507  2019-06-11   west    1521.00
4     gold morsel   9.99       529  2019-06-11  north    5284.71
5     gold morsel   9.99       509  2019-06-11  south    5084.91
6     gold morsel   9.99       513  2019-06-11   east    5124.87
7     gold morsel   9.99       585  2019-06-11   west    5844.15
8  magenta morsel   2.50       586  2019-06-11  north    1465.00
9  magenta morsel   2.50       561  2019-06-11  south    1402.50
          product  price  quantity        date region  totalSale
0     pink morsel   3.00       526  2020-10-13  north    1578.00
1     pink morsel   3.00       546  2020-10-13  south    1638.00
2     pink morsel   3.00       505  2020-10-13   east    1515.00
3     pink morsel   3.00       561  2020-10-13   west    1683.00
4     gold morsel   9.99       553  2020-10-13  north    5524.47
5     gold morsel   9.99       513  2020-10-13  south    5124.87
6     gold morsel   9.99       575  2020-10-13   east    5744.25
7     gold morsel   9.99       599  2020-10-13   west    5984.01
8  magenta morsel   2.50       544  2020-10-13  north    1360.00
9  magenta morsel   2.50       542  2020-10-13  south    1355.00

In [9]:
table1=pd.DataFrame(table1)
table2=pd.DataFrame(table2)
table3=pd.DataFrame(table3)

table1

                product  price  quantity        date region  totalSale
0           pink morsel   3.00       546  2018-02-06  north    1638.00
1           pink morsel   3.00       549  2018-02-06  south    1647.00
2           pink morsel   3.00       577  2018-02-06   east    1731.00
3           pink morsel   3.00       519  2018-02-06   west    1557.00
4           gold morsel   9.99       580  2018-02-06  north    5794.20
...                 ...    ...       ...         ...    ...        ...
13715  vermilion morsel   4.99       504  2019-06-10   west    2514.96
13716      lapis morsel   1.99       521  2019-06-10  north    1036.79
13717      lapis morsel   1.99       502  2019-06-10  south     998.98
13718      lapis morsel   1.99       536  2019-06-10   east    1066.64
13719      lapis morsel   1.99       515  2019-06-10   west    1024.85

[13720 rows x 6 columns]

In [13]:
product=list ()
sale =list()
date =list()
region =list()

for i in range(0, len(table1)):
    product.append(table1.iloc[i,0])
    sale.append(table1.iloc[i,5])
    date.append(table1.iloc[i, 3])
    region.append(table1.iloc[i, 4])

for i in range(0, len(table2)):
    product.append(table2.iloc[i,0])
    sale.append(table2.iloc[i,5])
    date.append(table2.iloc[i, 3])
    region.append(table2.iloc[i, 4])

for i in range(0, len(table3)):
    product.append(table3.iloc[i,0])
    sale.append(table3.iloc[i,5])
    date.append(table3.iloc[i, 3])
    region.append(table3.iloc[i, 4])

print(len(table1),len(table2),len(table3))
print(len(product), len(sale), len(date), len(region))

13720 13720 13720
41160 41160 41160 41160

In [14]:
final_table=pd.DataFrame({'Product':product,'Sale':sale,'Date':date,'Region':region})
print(final_table.head())
print(len(final_table))

       Product    Sale        Date Region
0  pink morsel  1638.0  2018-02-06  north
1  pink morsel  1647.0  2018-02-06  south
2  pink morsel  1731.0  2018-02-06   east
3  pink morsel  1557.0  2018-02-06   west
4  gold morsel  5794.2  2018-02-06  north
41160

In [15]:
pinkm_table_sale=[]
pinkm_table_date=[]
pinkm_table_region=[]

for i in range(len(final_table)):
    if (final_table.iloc[i,0])=='pink morsel':
        pinkm_table_sale.append(final_table.iloc[i,1])
        pinkm_table_date.append(final_table.iloc[i,2])
        pinkm_table_region.append(final_table.iloc[i,3])

pinkmorsel_table=pd.DataFrame({'Sale':pinkm_table_sale,'Date':pinkm_table_date,'Region':pinkm_table_region})
print(pinkmorsel_table.head())
print(len(pinkmorsel_table))

     Sale        Date Region
0  1638.0  2018-02-06  north
1  1647.0  2018-02-06  south
2  1731.0  2018-02-06   east
3  1557.0  2018-02-06   west
4  1587.0  2018-02-07  north
5880

In [16]:
final_table.to_csv('Final_Combined Table.csv', header = ['Product','Total Sale','Date',' Region'], index=False)
pinkmorsel_table.to_csv('Pink Morsel.csv', header = ['Total Sale of Morsel','Date','Region'], index=False)